:root {
  --main: #eeebd9;
  --secondary: #453738;
  --tertiary: #282427;
  --button: #8a6966;
  --header-marker: hsla(10, 53%, 54%, 0.3);
  font-size: clamp(1rem, 1.25vw, 3rem);
}

* {
  color: #282e3c;
  font-family: "Manrope", sans-serif;
}

*,
*::before,
*,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
}

html,
body {
  scroll-behavior: smooth;
  min-width: 350px;
  box-sizing: border-box;
  width: 100dvw;
  overflow-x: hidden;
}

body {
  background-color: var(--main);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html body p {
  font-weight: 400;
}

h1 {
  font-family: "Playfair Display", serif;
  align-self: flex-start;
  margin-left: 5%;
  font-size: 3rem;
  @media (max-width: 1000px) {
    font-size: 2.5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.reverse-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media only screen and (min-width: 1200px) {
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hidden {
  display: none;
}

.buttonGen {
  background-color: var(--button);
  padding: 8px 20px 8px 20px;
  color: #ffffff;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 3px 3px #5054649f;
  transition: 0.3s;
  font-weight: 500;
  text-transform: uppercase;

  @media only screen and (min-width: 650px) {
    width: 20vw;
  }
}

.buttonGen:hover {
  background-color: #456d8c;
}

.buttonGen:active {
  box-shadow: none;
  background-color: #324a5f;
}

.asterisk {
  color: rgb(221, 151, 65);
  margin-right: 0.5rem;
}

.additionalPageshr {
  border: none;
  border-top: 1px solid #534545;
  overflow: visible;
  text-align: center;
  width: 60vw;

  @media only screen and (min-width: 1280px) {
    width: 30vw;
  }
}

dialog {
  border: none;
  box-shadow: 0px 4px 4px rgba(76, 75, 75, 0.6);
  margin-top: 1.5lh;
  align-self: start;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.closeCross {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html:has(dialog[open]) {
  overflow: hidden;
}

li {
  text-align: left;
  white-space: pre-wrap;
  margin-left: 1rem;
}

::selection {
  background-color: #8a6966a9;
  color: white;
}

img[data-img-loading-error] {
  font-size: 0.7rem;
}

.align-left-mobile {
  @media (max-width: 1200px) {
    text-align: left;
  }
}

* p {
  text-align: left;
}
